@import "./common";

.#{$id} {
  div.slick-track > div:first-child.slick-active {
    height: 350px;

    > div.div.slide-component {
      height: 100%;
    }

    @media only screen and (max-width: 767px) {
      height: max-content;
    }
  }

  main.chakra-container
    > div.aem-container
    > div.aem-GridColumn
    > div.cmp-carousel {
    display: none;
  }

  div.slide-component {
    width: 100%;
    height: 100%;

    > div.component-wrap {
      width: 100%;
      height: 100%;

      > div.bg-content {
        // background-image: url("http://localhost:3030/slide-desktop-bg.jpg");
        background-image: url("https://brainlabs.digital/cro/consumercellular/cc030/slide-desktop-bg.jpg");
        background-position: center;
        background-size: cover;

        > div.bg-mobile {
          width: 100%;
          height: 100%;
          display: none;

          > img {
            width: 100%;
            height: 100%;
          }

          @media only screen and (max-width: 767px) {
            display: block;
          }
        }

        > div.content {
          padding: 20px;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;

          > div.headline {
            > h1 {
              font-weight: 700;
              line-height: 1;
              font-size: 50px;

              @media only screen and (max-width: 767px) {
                font-size: 20px;
              }

              @media only screen and (min-width: 768px) {
                font-size: 30px;
              }

              @media only screen and (min-width: 815px) {
                font-size: 35px;
              }

              @media only screen and (min-width: 910px) {
                font-size: 40px;
              }

              @media only screen and (min-width: 1200px) {
                font-size: 50px;
              }
            }
          }

          > div.features {
            margin-top: 10px;

            > div.item {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 5px;

              > div.text {
                margin-left: 10px;
              }
            }
          }

          > div.actions {
            margin-top: 20px;

            a {
              padding: 5px 20px;
              border-radius: 3px;
              font-size: 18px;
              font-weight: 600;
            }

            > a.shop {
              background-color: #f26531;
              color: #fff;
              border: 1px solid #f26531;
            }

            > a.bring {
              margin-left: 15px;
              background-color: transparent;
              color: #000;
              border: 1px solid #000;
            }

            @media only screen and (max-width: 767px) {
              display: flex;
              flex-direction: column;
              width: 100%;

              > a {
                width: 100%;
                text-align: center;
                margin-left: 0 !important;
                margin-top: 10px;
              }
            }
          }

          @media only screen and (max-width: 767px) {
            margin-top: -35%;
          }
        }

        @media only screen and (max-width: 767px) {
          background-image: none;
        }
      }
    }
  }

  div.plan-component {
    padding: 20px;
    background-color: #fafafa;

    > div.component-wrap {
      > div.heading {
        > h3 {
          font-weight: 800;
          text-align: center;
          line-height: 1.2;
          font-size: 2rem;
        }

        > h6 {
          font-size: 25px;
          text-align: center;
        }
      }

      > div.plans {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;

        > div.item {
          width: 200px;
          margin: 15px;
          border-radius: 15px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

          > div.heading {
            background-color: #d8f0f8;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;
            border-radius: 15px 15px 0 0;

            > h2 {
              font-size: 25px;
              font-weight: 700;
              text-align: center;
              color: #001e45;
              width: max-content;
            }

            > p {
              text-align: center;
              color: #6c6c70;
              font-size: 15px;
              width: max-content;
            }
          }

          > div.body {
            background-color: #ffffff;
            border-radius: 0 0 15px 15px;

            > div.cost {
              display: flex;
              justify-content: center;
              align-items: flex-start;

              > div.currency {
                > p {
                  font-size: 30px;
                  font-weight: 600;
                }
              }

              > div.duration {
                > p {
                  line-height: 1;
                  font-weight: 700;
                  font-size: 70px;
                }
              }
            }

            > div.text {
              padding: 10px 0;

              > h3 {
                font-size: 20px;
                text-align: center;
                text-transform: uppercase;
              }
            }
          }
        }
      }

      > div.footer {
        margin-top: 10px;

        > div.text {
          > p {
            text-align: center;
          }
        }

        > div.action {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;

          > a {
            background-color: #f26531;
            color: #fff;
            border: 1px solid #f26531;
            padding: 5px 80px;
            font-weight: bold;
            font-size: 22px;
          }
        }
      }
    }
  }
}
